<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Chat</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='http://localhost:3000/chat/styles/main.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='http://localhost:3000/chat/styles/login.css'>
    <script src="../../ejs.min.js"></script>
    <script src="https://cdn.socket.io/4.2.0/socket.io.min.js" integrity="sha384-PiBR5S00EtOj2Lto9Uu81cmoyZqR57XcOna1oAuVuIEjzj0wpqDVfD0JA9eXlRsj" crossorigin="anonymous"></script>
    <script src="/socket.io/socket.io.js"></script>
  </head>
<body>
    <%- include('./login.ejs'); %>
    <%- include('./chat.ejs', {messages}); %>
  <script src="http://localhost:3000/chat/scripts/chat.js"  type='text/javascript' async=false defer=false ></script>
</body>
</html>