<div class="chatLogin__container active">
  <h1 class="chatLogin__header">Fill in the details to start chatting:</h1>
  <form id="chat-login-form" class="chatLogin__form">
    <input id="chat-login-name" type="text" name="chatLoginName" class="chatLogin__input" placeholder="John" />
    <input id="chat-login-surname" type="text" name="chatLoginSurname" class="chatLogin__input" placeholder="Doe" />
    <input id="chat-login-email" type="text" name="chatLoginEmail" class="chatLogin__input" placeholder="johndoe@chat.com" />
    <input id="chat-login-age" type="text" name="chatLoginAge" class="chatLogin__input" placeholder="24" />
    <input id="chat-login-alias" type="text" name="chatLoginAlias" class="chatLogin__input" placeholder="Johnny" />
    <button id="chat-login-submit" class="chatLogin__submit">Send</button>
  </form>
</div>
