<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Product Manager - Home</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel='stylesheet' type='text/css' media='screen' href='./styles/main.css'>
</head>
<body>
  <h1>Product manager</h1>
  <div id="product-manager-main">
    <% if (messages){ %>
      <%- include('./chat/views/index.ejs'); %>
    <% } %>
  </div>
  <div id="product-manager-chat">
  </div>
</body>
</html>